<section id="about" class="d-flex flex-column justify-content-center">
    <div class="container text-center">
        <p class="text-secondary fw-bold">Get to know more</p>
        <p class="fs-1 fw-bold">About me</p>
    </div>
    <div class="container d-flex flex-lg-row flex-column mt-5 gap-4">
        <div class="container d-flex justify-content-center align-items-center">
            <img src="https://raw.githubusercontent.com/AleandroPresta/static-api/master/api/v1/portfolio-assets/profile-pic-2.png" alt="Second profile picture" class="rounded-4" width="400">
        </div>
        <div class="container d-flex flex-md-row flex-column gap-5">
            <div class="container d-flex flex-column align-items-center text-center border border-black rounded-4 px-4">
                <img src="https://raw.githubusercontent.com/AleandroPresta/static-api/master/api/v1/portfolio-assets/education.png" alt="Education icon" width="30px" class="mt-5">
                <p class="fw-bold fs-5">Education</p>
                <p class="text-secondary">Master's Degree <br> Computer Engineering</p>
                <p class="text-secondary">Bachelor's Degree <br> Computer Engineering</p>
            </div>
        </div>
    </div>
</section>