img {
  object-fit: cover;
}

.publications-component {
  transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}

.publications-component:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

@media (max-width: 576px) {
  .publication-image {
    width: 320px;
  }

  .publications-component {
    width: 370px;
  }
}

@keyframes appear-down {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.scroll-reveal-down {
  animation: appear-down linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%; /* Extending the range */
}
