<div class="container my-5">
    <div class="row">
        <div class="col border border-black rounded-4 m-4">
            <h2 class="text-center my-5 text-secondary">Web Development</h2>
            <div class="d-flex flex-wrap justify-content-start justify-content-lg-center gap-5">
                <div *ngFor="let skill of skillset1">
                    <app-skill-content [skill]="skill.name" [experience]="skill.experience"></app-skill-content>
                </div>
            </div>
        </div>
        <div class="col border border-black rounded-4 m-4">
            <h2 class="text-center my-5 text-secondary">Machine Learning</h2>
            <div class="d-flex flex-wrap justify-content-start justify-content-lg-center gap-5">
                <div *ngFor="let skill of skillset2">
                    <app-skill-content [skill]="skill.name" [experience]="skill.experience"></app-skill-content>
                </div>
            </div>
        </div>
    </div>
</div>