<div class="container my-5">
    <div class="row">
        <div class="col m-4">
            <div class="d-flex flex-wrap justify-content-center gap-2">
                <div *ngFor="let project of projects">
                    <app-project-content
                    [projectTitle]="project.projectTitle"
                    [projectDescription]="project.projectDescription"
                    [projectImageUrl]="project.projectImageUrl"
                    [projectUrl]="project.projectUrl"
                    [projectTags]="project.projectTags">
                        
                    </app-project-content>
                </div>
            </div>
        </div>
    </div>
</div>