.profile-container {
  height: 80vh;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

.fade-in-1 {
  animation-delay: 0.5s;
}
.fade-in-2 {
  animation-delay: 1s;
}
.fade-in-3 {
  animation-delay: 1.5s;
}
.fade-in-4 {
  animation-delay: 2s;
}
.fade-in-5 {
  animation-delay: 2.5s;
}
.fade-in-6 {
  animation-delay: 3s;
}
