<section class="profile-container d-flex justify-content-center mb-5">
    <div class="d-flex flex-lg-row flex-column justify-content-center align-items-center gap-5">
        <div class="d-flex">
            <img class="rounded-circle" src="./assets/profile-pic.png" alt="Profile Picture" width="350">
        </div>
        <div class="align-self-center text-center d-flex flex-column gap-3">
            <div class="container">
                <p class="text-secondary fw-bold">Hello, I'm</p>
                <p class="fs-1 fw-bold">Aleandro Presta</p>
                <p class="text-light-emphasis fs-4 fw-bold">Software Engineer</p>
            </div>
            <div class="container d-flex justify-content-center gap-3">
                <button class="btn btn-outline-dark rounded-pill px-3 fw-bold" onclick="window.open('https://raw.githubusercontent.com/AleandroPresta/personal-portfolio-angular/main/app/src/assets/resume-aleandro-presta.pdf')">
                    Download CV
                </button>
                <button class="btn btn-dark rounded-pill px-3 py-3 fw-bold" onclick="location.href='./#contact'">
                    Contact Info
                </button>
            </div>
            <div class="container d-flex justify-content-center gap-3">
                <img src="./assets/linkedin.png" alt="Linkedin Profile" class="icon" onclick="location.href='https://www.linkedin.com/in/aleandro-presta-6523471b9/'">
                <img src="./assets/github.png" alt="GitHub Profile" class="icon" onclick="location.href='https://github.com/AleandroPresta'">
            </div>
        </div>
    </div>
</section>